
<h1>Hello <%= @user.email %>!</h1>

<%= render 'blog_article_form' %>

<div id='published'>

  <%= render 'published_blog_list' %>
  
</div>

<div id='unpublished'>

  <%= render 'unpublished_blog_list' %>

</div>



<script type="text/javascript">
  $(function() {

    #('#new_blog_article')
      .on('ajax:beforeSend', function() {
        $("input[type='submit']")
          .val('saving...')
          .attr('disabled', 'disabled');
      })
      .on('ajax:complete', function(){
        $("input[type='submit']")
          .val('Create Blog Article')
          .removeAttr('disabled');
      });

  })
</script>