<p>Root</p>


<h1>Drew Martin</h1>

<div>
  <li><%= link_to 'About Me', abouts_path%></li>
  <li><%= link_to 'Blog', blog_articles_path %></li>
  <li><%= link_to 'Contact',  blog_articles_path %></li>
  <li><%= link_to 'Admin', login_path %></li>
</div>