<div class='row'>
  <div class='col-lg-3'></div>
  <div class='col-lg-6' align='center'>
    <div id='form_border'>
      <h1>Contact Me</h1>
      <%= render 'form' %>
    </div>  
  </div>
  <div class='col-lg-3'></div>
</div>


<div class="btn-group btn-group-justified" id='letters_footer'>
  <div class="btn-group">
    <%= link_to(abouts_path) do %>
    <button type="button" class="btn btn-default">About Me</button>
    <% end %>
  </div>
  <div class="btn-group">
    <%= link_to(blog_articles_path) do %>
    <button type="button" class="btn btn-default">Blog</button>
    <% end %>
  </div>
  <div class="btn-group">
    <%= link_to(root_path) do %>
    <button type="button" class="btn btn-default">Welcome</button>
    <% end %>
</div>


<script type="text/javascript">
  $( document ).ready(function() {
    console.log('hello');
    $('button')
      .eq(1)
      .text('Send Message')
      .addClass('btn btn-info');

});
</script>


