<div id="canvas-holder">
  <div class="jscharts">
    <p>Rails</p>
    <canvas id="chart-area1" width="100" height="100"/>
  </div>

  <div class="jscharts">
    <p>Javascript</p>
    <canvas id="chart-area2" width="100" height="100"/>
  </div>

  <div class="jscharts">
    <p>Ruby</p>
    <canvas id="chart-area3" width="100" height="100"/>
  </div>

  <div class="jscharts">
    <p>Rspec</p>
    <canvas id="chart-area4" width="100" height="100"/>
  </div>
  
</div>