<div id="canvas-holder">

  <div class="col-lg-1" align="center">
    <h4>Rails<h4>
    <canvas id="chart-area1" width="90" height="90"/>
  </div>

  <div class='col-lg-2'></div>

  <div class="col-lg-1" align="center">
    <h4>Javascript<h4>
    <canvas id="chart-area2" width="90" height="90"/>
  </div>

  <div class='col-lg-2'></div>

  <div class="col-lg-1" align="center">
    <h4>Ruby<h4>
    <canvas id="chart-area3" width="90" height="90"/>
  </div>

  <div class='col-lg-2'></div>

  <div class="col-lg-1" align="center">
    <h4>Rspec<h4>
    <canvas id="chart-area4" width="90" height="90"/>
  </div>
  
</div>

  
