<div id="hobby-holder">

  <div class="col-lg-1" align="center">
    <h4>Coding<h4>
    <%= image_tag 'coding.png' %>
  </div>

  <div class='col-lg-2'></div>

  <div class="col-lg-1" align="center">
    <h4>Running<h4>
    <%= image_tag 'running.png' %>
  </div>

  <div class='col-lg-2'></div>

  <div class="col-lg-1" align="center">
    <h4>Films<h4>
    <%= image_tag 'films.png' %>
  </div>

  <div class='col-lg-2'></div>

  <div class="col-lg-1" align="center">
    <h4>Cooking<h4>
    <%= image_tag 'cooking.png' %>
  </div>
  
</div>