<div id="hobby-holder">

  <div class="col-lg-1" align="center">
    <h4>Coding<h4>
    <button type="button" class="btn btn-default btn-lg">
      <span class="glyphicon-star"></span> Star
    </button>
  </div>

  <div class='col-lg-2'></div>

  <div class="col-lg-1" align="center">
    <h4>Exercise<h4>
  </div>

  <div class='col-lg-2'></div>

  <div class="col-lg-1" align="center">
    <h4>Films<h4>
  </div>

  <div class='col-lg-2'></div>

  <div class="col-lg-1" align="center">
    <h4>Cooking<h4>
    
  </div>
  
</div>