<div class='row'>
  <div class='col-lg-6'>
    <% if blog_article.publish_now.downcase == 'yes' %>
      <h3><%= link_to blog_article.title, blog_article_path(blog_article.id) %></h3>
      <p>Created at: <%= blog_article.created_at %></p>
      <div class='blog_body'><%= blog_article.body %></div>
    <% end %>
  </div>
  <div class='col-lg-6'></div>
</div>