<% if recent_article.publish_now.downcase == 'yes' %>
  <button type='button' class='btn btn-default'>
    <%= link_to recent_article.title, blog_article_path(recent_article) %>
  </button>
  <p>hello</p>
<% end %>