<h1>The Blog</h1>

  
<%= render @blog_articles %>

<script type="text/javascript">
  $( document ).ready(function() {

    console.log('hello');

    var temp = 1;

    replace();

    function replace(){
      $.each($('.blog_body'), function() { 
        temp = $(this).text();
        $(this).text('');
        $(this).html(temp);
      });
    }
  });
</script>