<h3><%= @blog_article.title %></h3>
<p>Created at: <%= @blog_article.created_at %></p>
<p class='blog_body'><%= @blog_article.body %></p>

<script type="text/javascript">
  
  $( document ).ready(function() {

    var temp = 1;

    replace();

    function replace(){
      $.each($('.blog_body'), function() { 
        temp = $(this).text();
        $(this).text('');
        $(this).html(temp);
      });

    }

  });

</script>