/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap_and_overrides
 *= require_self
 */

body{
 	background-image: url(/assets/whitecubes.png);
}


.error_header{
	margin: auto;
}

.error_div{
	height: 150px;
	width: 150px;
	background-color: rgba(227, 110, 83, 0.6);
	border-radius: 50%;
	padding-top: 45px;
}

.error_lis{
	list-style-type: none;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.footer_text_color{
	color: #428bca;
}

.title_padding{
	padding-top: 20px;
}

.created_on{
	font-size: 13px;
	margin-top: -8px;
	padding-bottom: 10px;
}

.paragraph_font{
	font-size: 15px;
}

.blog_body{
	font-size: 17px;
}

.hobby_size{
	height: 100px;
	width: 100px;
}

#abouts_pic_holder{
	padding-top: 25px;
}

#abouts_footer, #blog_articles_footer{
	padding-top: 95px;
	padding-bottom: 60px;
}

#abouts_pic{
	height: 496px;
	width: 360px;
}

#welcomes_pic{
	height: 442px;
	width: 300px;
}

.btn-info{
	margin-top: 10px;
}

#letter_message{
	width: 220px;
	height: 220px;
}

input{
	width: 220px;
}

label{
	padding-top: 15px;
}

#user_sessions_footer{
	padding-top: 295px;
	padding-bottom: 60px;
}

#users_footer{
	padding-top: 280px;
	padding-bottom: 60px;
}

#letters_footer{
	padding-top: 200px;
	padding-bottom: 60px;
}

#margin60{
	padding-bottom: 60px;
}

#margin15{
	padding: 15px;
}

h4{
	text-align: center;
}

#white_text{
	color: white;
}

.navbar-default .navbar-header .navbar-brand {
    color: white;
} 

.navbar-default{
	background-color: #96b97d
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}